.addServiceContainer {
    display: grid;
    grid-template-columns: 20% 75%;
    gap: 5%;
}

.serviceAddingFormContainer {
    width: 80%;
    padding: 0 0;
}

.dashboardTitle {
    padding: 2%;
    color: rgba(58, 83, 155, 1);
    text-align: center;
}
