.contact-div {
    background-color: #29313c;
    color: white;
    padding: 5% 10%;
    position: absolute;
    top: -100px;
    right: 0;
    display: flex;
    flex-direction: row;
}

.agencySlogan {
    margin-left: 3%;
    margin-top: -3%;
}

.footerAgencyName {
    display: inline;
    margin-left: 5%;
}

@media (max-width: 760px) {
    .contact-div {
        flex-direction: column;
    }

    .contactDivCol {
        margin-bottom: 10%;
        padding: 5% -1340% !important;
    }

    .footerAgencyName {
        display: block;
    }

    .footerLogo {
        width: 30% !important;
    }

    .footer {
        padding-top: 70% !important;
    }
}

li {
    list-style-type: none;
    margin-left: -20px;
}

.contactBtn {
    margin-left: 100px;
}

.footer {
    background-color: #1d222a;
    color: white;
    padding: 10% 10%;
}
