.serviceContainer a:-webkit-any-link{
    text-decoration: none;
    color: black;
}

@media(max-width: 760px){
    .serviceSection{
        margin-bottom: 25%;
    }

    .serviceContainer{
        margin-bottom: 10%;
    }
}