.customer {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.heading {
    color: orangered;
}

.reviewContainer {
    padding: 0% 10%;
    padding-bottom: 15%;
}

.review {
    border-bottom: 10px solid orangered;
    padding: 15px;
    box-shadow: 2px 2px 10px gray;
    border-radius: 2px;
    text-align: center;
}

@media(max-width: 760px){
    .review{
        margin-bottom: 15%;
    }
}

.quote{
    height: 80px;
    border-radius: 50%;
}